<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{> header}}
            <p> This weather application is created by Robin. The API used in to fetch the weather is WeatherStack for the weather data and Mapbox for geocoding.</p>
            <img src="/img/test.png" class="portrait">
        </div>
            {{> footer}}
    </body>
</html>